<div id="<%= dom_id transaction_projection %>">
  <p>
    <strong>Transaction:</strong>
    <%= transaction_projection.transaction_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= transaction_projection.action %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction_projection.status %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction_projection.amount %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= transaction_projection.customer_id %>
  </p>

  <p>
    <strong>Customer external:</strong>
    <%= transaction_projection.customer_external_id %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= transaction_projection.merchant_id %>
  </p>

  <p>
    <strong>Merchant external:</strong>
    <%= transaction_projection.merchant_external_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= transaction_projection.provider %>
  </p>

  <p>
    <strong>Client payment method:</strong>
    <%= transaction_projection.client_payment_method %>
  </p>

  <p>
    <strong>Provider setting:</strong>
    <%= transaction_projection.provider_setting %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= transaction_projection.client_id %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= transaction_projection.event_type %>
  </p>

  <p>
    <strong>Event data:</strong>
    <%= transaction_projection.event_data %>
  </p>

</div>
