<div id="<%= dom_id transaction_event %>">
  <p>
    <strong>Event:</strong>
    <%= transaction_event.event_id %>
  </p>

  <p>
    <strong>Aggregate:</strong>
    <%= transaction_event.aggregate_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= transaction_event.action %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction_event.status %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction_event.amount %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= transaction_event.customer_id %>
  </p>

  <p>
    <strong>Customer external:</strong>
    <%= transaction_event.customer_external_id %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= transaction_event.merchant_id %>
  </p>

  <p>
    <strong>Merchant external:</strong>
    <%= transaction_event.merchant_external_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= transaction_event.provider %>
  </p>

  <p>
    <strong>Client payment method:</strong>
    <%= transaction_event.client_payment_method %>
  </p>

  <p>
    <strong>Provider setting:</strong>
    <%= transaction_event.provider_setting %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= transaction_event.client_id %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= transaction_event.event_type %>
  </p>

  <p>
    <strong>Event data:</strong>
    <%= transaction_event.event_data %>
  </p>

  <p>
    <strong>Event timestamp:</strong>
    <%= transaction_event.event_timestamp %>
  </p>
  </p>

  <p>
    <strong>Event transaction Id:</strong>
    <%= transaction_event.transaction_id %>
  </p>

</div>
