<div id="<%= dom_id transaction_aggregate %>">
  <p>
    <strong>Aggregate:</strong>
    <%= transaction_aggregate.aggregate_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= transaction_aggregate.action %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction_aggregate.status %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction_aggregate.amount %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= transaction_aggregate.customer_id %>
  </p>

  <p>
    <strong>Customer external:</strong>
    <%= transaction_aggregate.customer_external_id %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= transaction_aggregate.merchant_id %>
  </p>

  <p>
    <strong>Merchant external:</strong>
    <%= transaction_aggregate.merchant_external_id %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= transaction_aggregate.provider %>
  </p>

  <p>
    <strong>Client payment method:</strong>
    <%= transaction_aggregate.client_payment_method %>
  </p>

  <p>
    <strong>Provider setting:</strong>
    <%= transaction_aggregate.provider_setting %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= transaction_aggregate.client_id %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= transaction_aggregate.event_type %>
  </p>

  <p>
    <strong>Event data:</strong>
    <%= transaction_aggregate.event_data %>
  </p>

</div>
